# Copy this to terraform.auto.tfvars and fill in your values

proxmox = {
  url          = "https://proxmox.example.com:8006"
  username     = "root@pam"
  password     = "changeme"
  node_name    = "pve"
  datastore_id = "local-lvm"
}

template_vmid  = 9000
network_bridge = "vmbr0"
vlan_id        = 0
container_ip   = "10.0.0.50/24"
container_gw   = "10.0.0.1"
